<div class="card-body">
    <table class="table table-hover nowrap" id="example1">
        <thead class="thead-default">
        <tr>
            <th>Name</th>
            <th>OS</th>
            <th>Last user</th>
            <th>Last IP</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Last active</th>
            <th>Inventory</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="javascript: void(0);" class="utils__link--underlined">LT-WL19040001</a></td>
            <td>Windows 10 Pro </td>
            <td><a href="javascript: void(0);" class="utils__link--underlined">v.pavardenis</a></td>
            <td>10.150.0.100</td>
            <td>Some PC</td>
            <td>Lenovo</td>
            <td>ThinkPad X1 Carbon</td>
            <td>Nov 15, 2019 1:31 PM</td>
            <td>IT-3567</td>
            <td>Vilnius</td>
        </tr>
        <tr>
            <td><a href="javascript: void(0);" class="utils__link--underlined">LT-WL19040002</a></td>
            <td>Windows 10 Pro </td>
            <td><a href="javascript: void(0);" class="utils__link--underlined">v.pavardenis</a></td>
            <td>10.150.0.100</td>
            <td>Some PC</td>
            <td>Lenovo</td>
            <td>ThinkPad X1 Carbon</td>
            <td>Nov 15, 2019 1:31 PM</td>
            <td>IT-3567</td>
            <td>Vilnius</td>
        </tr>
        <tr>
            <td><a href="javascript: void(0);" class="utils__link--underlined">LT-WL19040003</a></td>
            <td>Windows 10 Pro </td>
            <td><a href="javascript: void(0);" class="utils__link--underlined">v.pavardenis</a></td>
            <td>10.150.0.100</td>
            <td>Some PC</td>
            <td>Lenovo</td>
            <td>ThinkPad X1 Carbon</td>
            <td>Nov 15, 2019 1:31 PM</td>
            <td>IT-3567</td>
            <td>Vilnius</td>
        </tr>
        <tr>
            <td><a href="javascript: void(0);" class="utils__link--underlined">LT-WL19040003</a></td>
            <td>Windows 10 Pro </td>
            <td><a href="javascript: void(0);" class="utils__link--underlined">v.pavardenis</a></td>
            <td>10.150.0.100</td>
            <td>Some PC</td>
            <td>Lenovo</td>
            <td>ThinkPad X1 Carbon</td>
            <td>Nov 15, 2019 1:31 PM</td>
            <td>IT-3567</td>
            <td>Vilnius</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>OS</th>
            <th>Last user</th>
            <th>Last IP</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Last active</th>
            <th>Inventory</th>
            <th>Location</th>
        </tr>
        </tfoot>
    </table>
</div>