<div class="card-body">
    <table class="table table-hover nowrap" id="example1">
        <thead class="thead-default">
        <tr>
            <th>Name</th>
            <th>OS</th>
            <th>Last user</th>
            <th>Last IP</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Last active</th>
            <th>Inventory</th>
            <th>Location</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="computers : ${computers}">
            <td><a href="javascript: void(0);" class="utils__link--underlined" th:text="${computers.name}">ComputerName</a></td>
            <td th:text="${computers.os}">OS-Version</td>
            <td><a href="javascript: void(0);" class="utils__link--underlined" th:text="${computers.lastUser}">LastUserName</a></td>
            <td th:text="${computers.lastIp}">LastIP</td>
            <td th:text="${computers.description}">Description</td>
            <td th:text="${computers.manufacturer}">Manufacturer</td>
            <td th:text="${computers.model}">Model</td>
            <td th:text="${computers.lastActive}">Date</td>
            <td th:text="${computers.inventory}">Inventory7</td>
            <td th:text="${computers.location}">Location</td>
            <td th:text="${computers.owner}">Owner</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>OS</th>
            <th>Last user</th>
            <th>Last IP</th>
            <th>Description</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Last active</th>
            <th>Inventory</th>
            <th>Location</th>
            <th>Owner</th>
        </tr>

        </tfoot>
    </table>
</div>