<div class="top-bar__item d-none d-md-block">
    <div class="dropdown">
        <a class="dropdown-toggle text-nowrap" href="" data-toggle="dropdown" aria-expanded="false">
            <i class="icmn-database mr-2"></i>
            <span class="d-none d-xl-inline-block">Current site: <strong th:text="${siteName}"></strong></span>
        </a>
        <div class="dropdown-menu" role="menu">
            <a th:each="site : ${site}" class="dropdown-item" th:href="@{'/manage/site/' + ${site.siteCode} + '/dashboard/'}" th:text="${site.niceName}"></a>
        </div>
    </div>
</div>