<li class="user-profile header-notification">
    <div class="dropdown-primary dropdown">
        <div class="dropdown-toggle" data-toggle="dropdown">
            <span>Kiwa</span>
            <i class="feather icon-chevron-down"></i>
        </div>
        <ul class="show-notification profile-notification dropdown-menu"
            data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
            <li><a href="#!">Settings</a></li>
            <li><a href="#!">Settings</a></li>
            <li><a href="#!">Settings</a></li>
            <li><a href="#!">Settings</a></li>
            <li><a href="#!">Settings</a></li>
        </ul>

    </div>
</li>